/*This container includes our table and our canvas. */
.center-container {
    width: 608px;
    margin: 0 auto;
    margin-top: 50px;
}

table {
    /*this property collapses table borders into 1 border. */
    border-collapse: collapse;
    /*this hides outer borders on the table*/
    border-style: hidden;
}

td  {
    cursor: pointer;
    border: 4px solid rgba(252, 0, 240, 0.8);
    padding: 0px;
    width: 200px;
    height: 200px;
}

canvas  {
    /*this property sets the position of our canvas to the top left corner of our container*/
    position: absolute;
    z-index: 10;
    /*this property makes our canvas invisible*/
    pointer-events: none;
}

h1  {
    text-align: center;
    color: rgb(29, 184, 245);
}